@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

.oi {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.oi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

section {
    padding: 130px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

#inicio h1 {
    font-family: 'Licorice', cursive;
    font-size: 70px;
    text-shadow: 0 0 5px rgba(157, 132, 132, 0.8);
}

#inicio p {
    max-width: 700px;
    text-shadow: 0 0 5px rgba(87, 61, 18, 0.6);
    font-size: 25px;
}

#categorias {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.card {
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    color: #211f28;
    text-decoration: none;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    backdrop-filter: blur(6px);
    width: 200px;      
    height: 90px;   
}

.card:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
    .login {
        width: 38px;
        height: 38px;
    }

    .card {
        width: 180px;
        height: 95px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 12px 20px;
    }

    .card {
        width: 150px;
        height: 90px;
        font-size: .95rem;
    }
}