*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.pinimg.com/1200x/37/d7/ed/37d7edb7ab7b95c71b4de8cbc3ba9627.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  background: #946f54c6;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 40px 30px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

.login-container h1 {
  color: #eeeeee;
  font-size: 28px;
  margin-bottom: 10px;
}

.login-container p {
  color: #cdcdcd;
  font-size: 14px;
  margin-bottom: 30px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}



.btn-login {
  width: 100%;
  background: #5e3518;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #c67339;
}

.links {
  margin-top: 20px;
  font-size: 14px;
}

.links a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.links a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .login-container {
    width: 90%;
    padding: 30px 20px;
  }
}