@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c1e1a;
    overflow: hidden;
}

.fotos {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotoescura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.55);
    z-index: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
}

#glorious {
    font-size: 80px;
    font-family: "Birthstone Bounce", cursive;
    text-shadow: 0px 0px 15px black;
}

.descricao {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
     margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.botoes {
    margin-top: 25px;
}

.botao {
    display: inline-block;
    padding: 14px 32px;
    margin: 10px;
    background-color: #5A3E32;
    color: #e6cdbb;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    transition: 0.3s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.botao:hover {
    background-color: #7b5647;
    transform: translateY(-4px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.35);
}